<header class="product-section-header">
  <h1 class="font-serif text-h4 mb-5 md:text-h3">
    Cookies
  </h1>
</header>

<section class="how-it-works-section">
  <% if Cookie.count == 0 %>
    <p>
      Coming soon!
    </p>
  <% else %>
    <ul class="space-y-6">
      <% Cookie.all.each do |cookie| %>
        <li>
          <h2 class="font-semibold text-lg"><%= cookie.name %></h2>
          <p class="italic text-sm text-gray-600">Ingredients: <%= cookie.ingredients %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
