<section class="confirm-step">
  <fieldset class="confirm-step__info">
    <legend class="font-serif text-h5 md:text-h4">
      <%= t('spree.confirm') %>
    </legend>

    <%= render 'orders/order_details', order: @order %>
  </fieldset>

  <div class="flex justify-end py-6 lg:justify-center">
    <%= button_tag(
      I18n.t('spree.place_order'),
      class: 'button-primary',
      name: :commit,
    ) %>
  </div>
</section>

<script>
  Solidus.disableSaveOnClick();
</script>
